@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

:root {
  --card-width: 200px;
  --card-height: 300px;
  --white: whitesmoke;
  --black: #333333;
  --main: tomato;
}


/* LOG-IN PAGE */
#login {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(/asset/images/bg.jpg);
  background-size: cover;
  background-position: center; */
}

.login-card {
  position: relative;
  width: 450px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4rem;
  border-radius: 10px;
  color: var(--white);
}

.login-card a {
  color: var(--main);
  font-weight: 600;
}

.login-card p {
  color: var(--white);
  font-weight: 300;
  font-size: 10px;
  opacity: 0.8;
}


/* Header */
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

#header h1 {
  font-size: 30px;
  color: var(--main);
}

#header h2 {
  font-size: 20px;
  font-weight: 600;
}

#header p {
  opacity: 0.8;
}


/* Login-Form */
#login-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

#login-form .input-box {
 position: relative;
}

#login-form .input-box .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.3rem;
  opacity: 0.8;
  color: var(--main);
}

#login-form .other-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin: 20px 0 10px;
}

#login-form .check-box {
  display: flex;
  align-items: center;
  gap: 7px;
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="email"] {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 12px 20px;
  padding-left: 40px;
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
}

#login-form input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: var(--main);
}

#login-form input:focus {
  background: var(--white);
}

#login-form input::placeholder {
  color: var(--white);
}

#login-form input::placeholder:focus {
  color: var(--black);
}

#login-form button {
  background: var(--main);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

#login-form button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}


/* footer */
#footer {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#footer .sns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 18px;
}

#footer .sns-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#footer .sns-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main);
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  transition: all 0.5s;
}

#footer .sns-btns a:hover {
  background: var(--white);
  transform: scale(1.1);
}



@media (max-width: 768px) {
  body {
    height: 100vh;
    overflow-y: hidden;
  }

  .login-card {
    width: 300px;
    padding: 20px;
  }
}